---
import { formatISODateUtc } from '../utils/format';
import type { ArticleMetaSettings } from '../lib/theme-settings';

const {
  href,
  title,
  excerpt,
  date,
  visibleTags = [],
  articleMetaSettings
} = Astro.props as {
  href: string;
  title: string;
  excerpt?: string | null;
  date: Date;
  visibleTags?: string[];
  articleMetaSettings: ArticleMetaSettings;
};

const shouldShowMetaLine = articleMetaSettings.showDate || (articleMetaSettings.showTags && visibleTags.length > 0);
---

<a class="list-item list-item--link" href={href}>
  <div class="list-item__row">
    <h3 class="list-item__title">{title}</h3>
  </div>
  {excerpt ? <p class="list-item__excerpt">{excerpt}</p> : null}
  {shouldShowMetaLine ? (
    <div class="meta-line meta-line--items">
      {articleMetaSettings.showDate ? (
        <span class="meta-line__item">
          {articleMetaSettings.dateLabel ? `${articleMetaSettings.dateLabel}` : ''}{formatISODateUtc(date)}
        </span>
      ) : null}
      {articleMetaSettings.showTags && visibleTags.length ? (
        <span class="meta-line__item meta-line__item--tags">
          {visibleTags.map((tag) => <span class="tag">#{tag}</span>)}
        </span>
      ) : null}
    </div>
  ) : null}
</a>
